<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rathanak.khmerroman">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:name=".view.Roman2KhmerApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_roman2khmer"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_roman2khmer"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.ProfileSettingsActivity"
            android:screenOrientation="fullSensor"
            android:label="@string/title_activity_profile_settings"></activity>
        <activity android:name=".view.CustomMapping"
            android:screenOrientation="fullSensor"
            android:label="@string/title_activity_custom_mapping"/>
        <activity android:name=".view.RomanMapping"
            android:screenOrientation="fullSensor"
            android:label="@string/title_activity_roman_mapping"/>
        <activity
            android:name=".view.About"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.MainActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".keyboard.R2KhmerService"
            android:exported="false"
            android:label="Roman2Khmer"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>
    </application>

</manifest>